<div class="container well bs-component">
  <h1 class="text-center">Youtube Link</h1>
  <%= form_tag({controller: "fragment", action: "create"}, method: "post", class: "form-horizontal col-sm-12") do %>
  <%= text_field(:fragment, :url, class: "form-control", placeholder: "url") %>
  <br>
  <hr>
  <%= submit_tag "Download", class: "btn btn-raised btn-warning col-md-4 col-xs-4 col-md-push-4 col-xs-push-4" %>
  <% end %>
  <br>
  <hr>
  <div class="row">
    <%= button_to 'Info about YouTube Video', {:controller => "fragment", :action => "video_info"}, :method=>:post, class: "btn btn-raised btn-success col-md-4 col-xs-4 col-md-push-4 col-xs-push-4" %>
  </div>
  <div class="row">
    <%= button_to 'Check_status_job', {:controller => "fragment", :action => "check_status_job"}, :method=>:post, class: "btn btn-raised btn-success col-md-4 col-xs-4 col-md-push-4 col-xs-push-4" %>
  </div>
  <div class="row">
    <%= button_to 'Upload on cloudinary', {:controller => "fragment", :action => "cloudinary"}, :method=>:post, class: "btn btn-raised btn-success col-md-4 col-xs-4 col-md-push-4 col-xs-push-4" %>
  </div>
  <div class="row">
    <%= button_to 'Check video from cloudinary', {:controller => "fragment", :action => "cloud_public_id"}, :method=>:post, class: "btn btn-raised btn-success col-md-4 col-xs-4 col-md-push-4 col-xs-push-4" %>
  </div>
  <div class="row">
    <p><%  %></p>

  </div>

  <br>


</div>
