<div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class="column">

      <div class="ui form">
        <div class="field">
          <label>Youtube URL</label>
          <input type="text" data-ng-change="index.preview();index.postInfo();" data-ng-model="index.fragment.url">
        </div>
      </div>

      <!--<div class="row"><br></div>-->
      <!--<h3>{{index.fragment.url}}</h3>-->
      <!--<h4>{{index.postInfo.title}}</h4>-->
      <!--<div class="row">-->
        <!--&lt;!&ndash;<h3>Fragment Created</h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="ui inverted blue button" data-ng-click="">Download</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>{{index.cloudinary}}</h3>&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="row" data-ng-if="">-->
        <!--<h3>Uploads on cloudinary</h3>-->
        <!--<button class="ui inverted blue button" data-ng-click="">YouTube</button>-->
      <!--</div>-->

      <div class="row" data-ng-if="index.fragment.embed_url">

        <iframe style="width:800px; height: 400px;" class="filed" data-ng-src="{{index.fragment.embed_url}}"></iframe>
        <div class="row"><br></div>
        <div class="ui form">
          <div class="row">
            <!--<label>Start</label>-->
            <input style="width: 200px;" class="column" type="number" placeholder="Start" data-ng-min="1" data-ng-change="index.preview()" data-ng-model="index.fragment.start">
            <!--<label>End</label>-->
            <input style="width: 200px;" class="column" type="number" placeholder="End" data-ng-min="1" data-ng-change="index.preview()" data-ng-model="index.fragment.end">
          </div>

        </div>
        <div class="row"><br></div>
        <button class="ui inverted blue button" data-ng-click="index.create()" data-ng-class="{loading: index.fragment.isCreating}">Create fragment</button>

        <button class="ui inverted blue button" data-ng-click="info = ! info;">Create Info</button>
        <!--<button class="ui inverted blue button" data-ng-click="info = ! info">Info</button>-->
        <div data-ng-show="info">
          <h1>Info</h1>
          <div>{{index.postInfo}}</div>
          <button class="ui inverted blue button" data-ng-click="info = ! info">close</button>
        </div>

        <!--<div data-ng-if="index.create()">-->
          <!--<h3>Create</h3>-->
        <!--</div>-->
        <!--<button class="ui inverted blue button" data-ng-click="index.create()" data-ng-model="index.fragment.url">Upload on cloudinary</button>-->
        <!--<button class="ui inverted blue button" data-ng-click="index.create()" data-ng-model="index.fragment.url">Upload on youtube</button>-->


        <!--<button class="ui inverted green button" data-ng-click="index.postInfo()"  data-ng-model="index.fragment.url" data-ng-class="{'ui inverted green button': index.postInfo(), 'ui inverted orange button': !index.postInfo()}">Video Info</button>-->

        <!--&lt;!&ndash;<button class="ui inverted green button" data-ng-click="show ! = show" data-ng-class="{'ui inverted green button': show, 'ui inverted orange button': !show}">Video Info</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<div data-ng-show="index.postInfo()">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="ui inverted green button" data-ng-click="show = ! show" data-ng-model="index.fragment.url" data-ng-class="{'ui inverted green button': show, 'ui inverted orange button': !show}">Video Info</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<div data-ng-show="show">&ndash;&gt;-->
          <!--<div>-->
            <!--<p>{{index.postInfo.channel_title}}</p>-->
            <!--<p>{{index.postInfo.published_at}}</p>-->
            <!--<p>{{index.postInfo.length}}</p>-->
          <!--</div>-->
        <!--</div>-->

          <!--@video.id,-->
          <!--@video.title,-->
          <!--@video.description,-->
          <!--@video.published_at,-->
          <!--@video.thumbnail_url,-->
          <!--@video.channel_id,-->
          <!--@video.channel_title,-->
          <!--@video.category_id,-->
          <!--@video.category_title,-->
          <!--@video.length]-->
        <!--</div>-->

      </div>

    </div>
  </div>
</div>

<!--<div class="ui form">-->

  <!--<%= form_tag({controller: 'fragment', action: 'create'}, method: 'post') do %>-->
      <!--<div class="field ">-->
        <!--<%= label_tag('Youtube URL') %>-->
        <!--<%= text_field(:fragment, :url, placeholder: 'url') %>-->
      <!--</div>-->
      <!--&lt;!&ndash;<div class="two fields">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="field">&ndash;&gt;-->
          <!--&lt;!&ndash;<%= label_tag('Start') %>&ndash;&gt;-->
          <!--&lt;!&ndash;<%= text_field(:offset, :start, placeholder: 'start') %>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="field">&ndash;&gt;-->
          <!--&lt;!&ndash;<%= label_tag('End') %>&ndash;&gt;-->
          <!--&lt;!&ndash;<%= text_field(:offset, :end, placeholder: 'end') %>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<%= submit_tag 'Download', class: 'ui button' %>-->
  <!--<% end %>-->

<!--</div>-->

<!--<div class="ui divider"></div>-->

<!--<div class="ui buttons">-->
  <!--<%= button_to 'Info about YouTube Video', {:controller => 'fragment', :action => 'video_info'}, :method => :post, class: 'ui button' %>-->
  <!--<%= button_to 'Check_status_job', {:controller => 'fragment', :action => 'check_status_job'}, :method => :post, class: 'ui button' %>-->
  <!--<%= button_to 'Upload on cloudinary', {:controller => 'fragment', :action => 'cloudinary'}, :method => :post, class: 'ui button' %>-->
  <!--<%= button_to 'Check video from cloudinary', {:controller => 'fragment', :action => 'cloud_public_id'}, :method => :post, class: 'ui button' %>-->
<!--</div>-->

