<div class="container">
  <h4><%= @user.email %></h4>
</div>

<div class="container">
  <div class="row">
    <% @user_profile.each do |user_profile| %>
    <div class="col-xs-6 col-sm-4">
      <div class="video-block" style="width: 200px; height: 200px;">
        <%= cl_video_tag("#{user_profile.name}", :resource_type => :video, cloud_name: 'comedy', :width => "#{200}", :height => "#{200}") %>
      </div>

      <a href="<%= user_profile.url %>" style="font-size: 7px;"><%= user_profile.url %></a>

      <div class="bottom-aligned-row" style="margin: 0 auto;">

        <%= form_tag("/video_uploads/#{user_profile.id}/new", method: "get") do %>
            <%= submit_tag 'Upload on YouTube', class: 'ui button' %>
        <% end %>
          <%= form_tag("/delete/#{user_profile.id}", method: "delete") do %>
              <%= submit_tag 'Delete', class: 'ui button' %>
          <% end %>


      </div>
    </div>
    <% end %>
  </div>
</div>
