<!DOCTYPE html>
<html lang="en" data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <title>YTC</title>

    <link href="/favicon.ico" rel="shortcut icon">

    <link href="/packages/semantic/css/semantic.min.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
  </head>
  <body data-ng-controller="IndexController as index">
    <div class="ui container">
      <header>
        <div class="ui menu">
          <a class="item" href="/">Home</a>
          <a class="item" href="/users">Users</a>
          <a class="item" href="/fragments">Fragments</a>

          <% if current_user %>
          <a class="item" href="/user/<%= current_user.id %>">Profile</a>
          <% end %>

          <% if current_user %>
          <div class="item"><%= current_user.first_name %></div>
          <a class="item" href="<%= logout_path %>">Logout</a>
          <% else %>
          <a class="item" href="/auth/google_oauth2">Google +</a>
          <a class="item" href="/auth/twitter">Twitter</a>
          <a class="item" href="/auth/facebook">Facebook</a>
          <% end %>
        </div>
      </header>

      <div class="ui segment">
        {{ index.user.first_name }} {{ index.user.last_name }}

        <a class="ui youtube button" href="/auth/google_oauth2">
          <i class="youtube icon"></i> YouTube
        </a>
      </div>

      <section class="content">
        <%= yield %>
      </section>

      <footer>
        <div class="ui basic segment center aligned">
          <p>&copy; 2017</p>
        </div>
      </footer>
    </div>

    <script src="/packages/jquery/js/jquery.min.js"></script>
    <script src="/packages/angular/js/angular.min.js"></script>
    <script src="/packages/semantic/js/semantic.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script>
        $(function ()
        {
            $('#create-fragment').form
            ({
                on: 'change',
                fields: {
                    url: ['empty','url'],
                    start: ['empty', 'integer'],
                    end: ['empty', 'integer'],
                    title: ['empty']
                }
            });
        })
    </script>
  </body>
</html>
